.DS_Store
vim/.vim/yankring_history_v2.txt
vim/.vim/.swap
vim/.vim/.undo
vim/.vim/.netrwhist
vim/.vim/bundle
zsh/.localrc.zsh
*.swp
*.swo
neovim/.config/nvim/lazy-lock.json
neovim/.config/nvim/swap
neovim/.config/nvim/undo
