[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/align"]
	path = .vim/bundle/align
	url = https://github.com/tsaleh/vim-align.git
[submodule "/Users/zorn/.vim/bundle/colorschemes"]
	path = /Users/zorn/.vim/bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
